In [67]:
path="datasets/mpg_ggplot2.csv"

In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [74]:
df=pd.read_csv(path);

In [75]:
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [76]:
x=df["displ"]
y=df["hwy"]

In [77]:
fig=plt.figure(figsize=(10, 5))

In [78]:
gs=fig.add_gridspec(5, 5)

In [79]:
ax1=fig.add_subplot(gs[:4, :-1])

In [80]:
ax1.scatter(x, y, c=df.manufacturer.astype("category").cat.codes)

In [81]:
ax1.set_xlabel("displ")
ax1.set_ylabel("hwy")
ax1.set_title("Scatter plot with marginal histograms")

Text(0.5, 1.0, 'Scatter plot with marginal histograms')

In [85]:
ax1.spines["right"].set_color("None")
ax1.spines["top"].set_color("None")

[]

In [86]:
ax2=fig.add_subplot(gs[4:, :-1])
ax2.hist(x, 40, orientation="vertical", color="pink")

(array([ 5., 14., 24.,  0.,  6., 13., 20.,  0., 18.,  0.,  8.,  6.,  9.,
         4.,  7.,  3.,  8., 18.,  0.,  4.,  1.,  0., 28.,  0.,  0.,  2.,
         5.,  6.,  8.,  1.,  8.,  2.,  1.,  1.,  2.,  0.,  1.,  0.,  0.,
         1.]),
 array([1.6  , 1.735, 1.87 , 2.005, 2.14 , 2.275, 2.41 , 2.545, 2.68 ,
        2.815, 2.95 , 3.085, 3.22 , 3.355, 3.49 , 3.625, 3.76 , 3.895,
        4.03 , 4.165, 4.3  , 4.435, 4.57 , 4.705, 4.84 , 4.975, 5.11 ,
        5.245, 5.38 , 5.515, 5.65 , 5.785, 5.92 , 6.055, 6.19 , 6.325,
        6.46 , 6.595, 6.73 , 6.865, 7.   ]),
 <BarContainer object of 40 artists>)

In [87]:
ax2.invert_yaxis()

In [89]:
ax2.set_xticks([])
ax2.set_yticks([])

[]

In [90]:
ax2.axison=False

In [91]:
fig.tight_layout()

In [92]:
plt.show()